.inner_container{
    background-color: #fbf7ff;
    max-width: 80%;
    padding:20px;
    margin-bottom: 30px;
    color:#38384e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inner_container h2{
    text-align: center;
}