.main_wrapper {
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.banner_holder {
   width: 100%;
   height: 40rem;
   overflow-x: hidden;
   overflow-y: hidden;
   position: relative;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
 
  background: no-repeat center center;
  background-position: 0 -71px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.logo_holder{
   display: flex;
   justify-content: flex-start;
 }
 
 .text{
    padding: 60px;
    text-align: center;
    font-size: 3rem;
    color: white;
 }

.dot_holder{
   position:absolute;
   top:0;
   left:0;
   padding:10px;
   z-index: 50;
}
.slider_dot{
   height: 11px;
   width: 11px;
   margin-right: 10px;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   display: inline-block;
}
.slider_dot:hover{
   cursor: pointer;
}

.slider_wrapper{
 width: 300%;
 height: 100%;
 display: flex;
 position: relative;
 transition: 800ms;
}
.layer {
  
 display: flex;
 justify-content: flex-end;
 align-items: stretch;
 flex-direction: column;
 width: 100%;
 height: 100%;
 z-index: 100000000000;
}

.inner_holder {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin-top: 40px;
}
.outer_wrapper {
 width: 80%;
}


@media only screen and (max-width: 700px) {
   .logo_holder {
     justify-content: center;
     padding-bottom: 10px;
   }
   .banner_holder{
      width: 101%;
      height: 24rem;
   }
   .text{
      padding:5px;
      padding-bottom: 30px;
      font-size: 2rem;
   }
 }