.main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:23%;
    min-width: 190px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.inner_holder{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:1;
    box-sizing: border-box;
    padding: 10px 10px 15px 10px;
}

.inner_holder span {
    text-align: center;
}

.view_link{
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    width: 80%;
    background: #38384e;
    border-radius: 6px;
    transition: 150ms;
    margin-top: 10px;
}

.view_link:hover{
    background: #01937C;
}
.view_link i{
    transition: 200ms;
}
.view_link:hover i{
    transform: translate(8px)
}