.main_wrapper {
 display: flex;
 flex-direction: column;
 width: 100%;
 box-sizing: border-box;
 background-color: #FBFBFB;
 position: fixed;
 z-index: 1000;
 padding:10px
}
.contact_buttons {
 display: flex;
 justify-content: flex-end;
 padding: 14px 14px 0 6px;
 position: relative;
}
.heyo {
 background-color: red;
}
.contact_buttons_item {
 padding: 8px 10px;
 background-color: white;
 color: white;
 border-radius: 6px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
 font-size: 0.8rem;
}
.contact_buttons_item:hover {
 cursor: pointer;
}
.logo_links {
 display: flex;
 justify-content: space-around;
 min-height: 55px;
}

.links {
 display: flex;
}

ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.links li {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-shrink: 0;
 font-weight: 600;
 color: #191970;
 padding: 6px 30px;
 transition: 140ms;
 position: relative;
}
.links li:hover {
 cursor: pointer;
 background-color: #FEC618;
 color: #2B2B2B;
}

.linkHref {
 padding: 6px 30px;
 display: flex;
 height: 100%;
 width: 100%;
 justify-content: center;
 align-items: center;
 color:#191970;
}
.linkHref:hover{
   color:#2B2B2B;
}
.links li:hover ul {
 display: block;
}
.links li span {
 font-size: 16px;
 text-align: center;
}
.links li i {
 margin-left: 8px;
}

.subLinks {
 position: absolute;
 background: #2B2B2B;
 display: none;
 top: 100%;
 left: 0;
 font-size: 14px;
 white-space: nowrap;
 min-width: 100%;
 z-index: 1000;
}

.subLinks li {
 justify-content: flex-start;
 padding: 0px;
}
.sublinkHref i {
 transition: 150ms;
}
.sublinkHref:hover i {
 transform: translate(5px);
}
.sublinkHref {
 display: block;
 width: 100%;
 height: 100%;
 color: white;
 padding: 12px;
}

.subLinks li:hover {
 background-color: #FEC618;
}
.subLinks li:hover .sublinkHref{
   color: #2B2B2B;
}
.header_company_logo:hover{
   cursor: pointer;
}
.ResponsiveNav {
   display: none;
}
.Non_Responsive_Nav {
   display: block;
}
@media only screen and (max-width: 800px) {
   .ResponsiveNav {
      display: block;
   }
   .Non_Responsive_Nav{
      display:none;
   }
}